<ns-page>
    <GridLayout rows="*,auto" columns="auto,*,auto" class="carousel-layout-fix" height="100%">
        <Carousel row="0" colSpan="3" #myCarousel debug="true" height="100%" width="100%" color="white"
            pageChanged="myChangeEvent" pageTapped="mySelectedEvent" indicatorOffset="0, -40" indicatorColor="#0000FF"
            finite="true" bounce="false" showIndicator="true" verticalAlignment="top" android:indicatorAnimation="WORM">

            <CarouselItem id="slide1" verticalAlignment="middle" *ngFor="let item of carouselItems ">
                <Image [src]="item.image"></Image>
                <label color="#000" [text]="isRtl?item.title_ar:item.title" textWrap="true" textAlignment="center"
                    fontWeight="600" margin="30"></label>
                <label color="#000" [text]="isRtl?item.subTitle_ar:item.subTitle" textWrap="true" textAlignment="center"
                    margin="30"></label>
            </CarouselItem>



        </Carousel>

        <Button [col]="isRtl?'2':'0'" text="{{'auth.welcome_skip' | L}}" class="btn btn-default" (tap)="skipPages()"
            verticalAlignment="bottom"></Button>
        <Button [col]="isRtl?'0':'2'" text="{{'auth.welcome_next' | L}}" class="btn btn-primary" (tap)="nextPage()"
            verticalAlignment="bottom"></Button>

    </GridLayout>
</ns-page>