// Colors
$primary: #fff;
$accent: #384030;
$secondary: #7b8055;
$white: #fff;

$blue: #364fd4;
$gray: #f7f7f7;
$dark-blue: #1e4489;
$light-blue: #009ad6;
$teal: #00afaa;
$red: #e02020;

$rtl-font-family: Almarai, Almarai-Regular;
$ltr-font-family: Raleway-Regular, Raleway;
