<GridLayout columns="auto,*,auto" class="header" padding="24">
    <ng-container *ngIf="backEnabled">
        <Image [col]="isRtl?'2':'0'" src="~/assets/images/arrow-{{isRtl?'right':'left'}}.png" (tap)="back()" width="24"
            height="24"></Image>
    </ng-container>

    <ng-container *ngIf="title">
        <Label col="1" horizontalAlignment="center" class="title" text="{{ title | L}}" fontSize="19"
            fontWeight="600"></Label>
    </ng-container>

    <ng-container *ngIf="description">
        <Label [col]="isRtl?'0':'2'" class="description" [text]="description"></Label>
    </ng-container>

</GridLayout>